# IDE/OS specific files
.idea
.vscode
.DS_Store
Thumbs.db

# Composer files
/vendor/
composer.lock

# PHPUnit files
.phpunit.result.cache
.phpunit.cache
phpunit.xml
coverage
build

# Temporary files
*.log
*.tmp
*.swp
.env
.env.backup

# Other
node_modules
